body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.total-container img{
    width: 8em;
    height: 8em;
}
.total-container {
    width: 80%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Para mantener todo dentro del contenedor */
}

.search-container {
    padding: 1em;
    background-color: #cf1111;
    border-bottom: 2px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    position: sticky;
    top: 0;
    z-index: 1000;
}

input[type="text"] {
    padding: 1em;
    font-size: 1em;
    border: 2px solid #ddd;
    border-radius: 5px;
    width: 70%;
}

button {
    padding: 1em;
    margin-left: 1em;
    font-size: 1em;
    background-color: #ee0000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #920909;
}

#pokemon-list {
    flex-grow: 1;
    overflow-y: auto;
    padding: 1em;
    display: flex; 
    flex-direction: column;
    gap: 1em;
    justify-items: center; 
    align-items: start; 
}

.pokemon-card {
    display: grid;
    width: 100%;
    grid-template-columns: 8em 1fr 0.3fr 0.3fr;
    gap: 10px;
    align-items: center;
    padding: 10px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    max-width: 100%; 
    box-sizing: border-box;
}

.pokemon-card img {
    grid-column: 1;
    width: 8em;
    height: 8em;
}

.pokemon-info {
    grid-column: 2;
}

button.edit {
    grid-column: 3;
    padding: 1em 2em;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

button.edit:hover {
    background-color: #0056b3;
}

button.delete {
    grid-column: 4;
    padding: 1em 2em;
    background-color: #dc3545;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

button.delete:hover {
    background-color: #c82333;
}

@media (max-width: 600px) {
    .total-container {
        width: 100%;
        height: 100vh; 
        border-radius: 0; 
    }
    .total-container img{
        width: 3em;
        height: 3em;
    }

    .search-container {
        flex-direction: row; 
        gap: 0.5em;
    }

    input[type="text"] {
        width: 100%; 
        font-size: 0.9em;
    }

    button {
        width: 50%; 
        margin-left: 0;
        font-size: 0.9em; 
    }

    #pokemon-list {
        padding: 0.5em;
        gap: 0.5em;
        align-items: center; 
    }

    .pokemon-card {
        display: flex;
        flex-direction: column;
        padding: 1em;
    }

    .pokemon-card img {
        width: 10em;
        height: 10em;
        margin: 0;
    }

    .pokemon-info {
        grid-column: 1;
        margin-top: 1em;
    }

    button.edit, button.delete {
        width: 100%; 
        padding: 0.5em;
        font-size: 0.9em; 
    }

    button.edit {
        margin-bottom: 0.5em; 
    }
}

